*{
	margin:0 auto;
	padding:0px;
	box-sizing:border-box;
	outline:none;
}
body{
    background-color: #C3E5AE ;
}

header{
	display:none;
	visibility:hidden;
}

main{
	width: 90%;
	margin-top:10vh;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-direction: row;
	height: 80vh;

}

.sonLeft{
	display:none;
	position:relative;
	width: 100%;
	height:100%;
}

.sonRight{
	display:none;
	width: 30%;
	height: auto;
	border-radius: 20px;
	padding-left: 10px;
	background-color: #F1E1A5;
	border: 5px solid #663931;
	box-shadow: 10px 5px 5px #557571;
	padding-top:20px;
	font-size: x-large;
}


/* ######### LEFT BOX */

/* LOGIN */

#logIn{
  display: none;
	position:absolute;
	display: flex;
	top:35%;
	left:30%;
	width:40%;
	flex-direction: column;
	background-color:#F1E1A5;
	border-radius: 20px;
	border: 5px solid #663931;
	box-shadow: 10px 5px 5px #557571;
	padding:20px;
  color: #f09999;
	font-size: x-large;
}

#title{
	font-family:'Anton',sans-serif;
	text-align:center;
	color:#f09999;
}
	#rememberTitle{
		font-family:'Anton',sans-serif;
		margin-left:3%;
		height:20%;
		font-weight:100;
		margin-top:auto;
		color:#f09999;
	}

#username{
	width: 80%;
	justify-content: end;
	margin-top: 5px;
	margin-left: 10%;
	height:50px;
	border-radius: 20px;
	font-family:'Anton',sans-serif;
	padding-left:10px;
	box-sizing:border-box;
	background-color:#C3E5AE;
	color: #f09999;
}
	::placeholder{
		font-family: 'Anton', sans-serif;
		color: #f09999;
		padding-left: 5px;
		box-sizing: border-box;
	}

.button{
	width: 30%;
	height:50px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	font-family: 'Anton', sans-serif;
	font-size: large;
	color: #f09999;
	background-color: #C3E5AE;
}

#loginBttn {
	display:flex;
	width:100%;
}

/* GAME */
#puntuaciones{
	display: flex;
	display: none;
	background-color: #f09999;
	width: 90%;
	height:100%;
	border-radius: 20px;
	flex-direction: column;
	border: 5px solid #663931;
	box-shadow: 10px 5px 5px #557571;
}

#titlePuntuacion{
	padding-top: 15%;
	box-sizing: border-box;
	font-size: 5rem;
	color: #557571;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-family: 'Anton', sans-serif;
	text-shadow: 0.05em 0 0 #F4BBBB,
	-0.025em -0.05em 0 #C3E5AE,
	0.025em 0.05em 0 #557571;
	animation: glitch 2000ms infinite;
}
#puntuacion{
	font-size: 5rem;
	color: #557571;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-family: 'Anton', sans-serif;
	text-shadow: 0.05em 0 0 #F4BBBB,
	-0.025em -0.05em 0 #C3E5AE,
	0.025em 0.05em 0 #557571;
	animation: glitch 2000ms infinite;
}
#homeBtn{
	display: flex;
	width: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	font-family: 'Anton', sans-serif;
	color: #f09999;
	background-color: #C3E5AE;
	padding-left: 13%;
	box-sizing: border-box;
	font-size: x-large;
}

#game{
	display: none;
	background-image:url("../img/fondoTopos1.jpg");
	width: 90%;
	height:100%;
	border-radius: 20px;
}

.digglet{
	width: 10%;
	height: 15%;
	background-image: url("");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0%;
	left: 5%;
	animation: animationDigglet 1000ms forwards;
	-webkit-animation: animationDigglet 300ms forwards;
}

@keyframes animationDigglet{
	0%{
		background-image: url("../img/digglet1.png");
	}
	20%{
		background-image: url("../img/digglet2.png");
	}
	40%{
		background-image: url("../img/digglet3.png");
	}
	60%{
		background-image: url("../img/digglet4.png");
	}
	80%{
		background-image: url("../img/digglet5.png");
	}
	100%{
		background-image: url("../img/digglet6.png");
	}
}

/* LOAD SCREEN */
#loadScreen{
	position:absolute;
	width:90%;
	margin-top:5%;
	display: block;
	text-align: center;
}

#loadTitle{
	font-size: 10em;
	color: #557571;
	text-transform: uppercase;
	position: relative;
	font-family: 'Anton', sans-serif;

	text-shadow: 0.05em 0 0 #F4BBBB,
	-0.025em -0.05em 0 #C3E5AE,
	0.025em 0.05em 0 #557571;
	animation: glitch 2000ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #F4BBBB,
      -0.05em -0.025em 0 #C3E5AE,
      -0.025em 0.05em 0 #557571;
  }

  15% {
    text-shadow: -0.05em -0.025em 0 #F4BBBB,
      0.025em 0.025em 0 #C3E5AE,
      -0.05em -0.05em 0 #557571;
  }

  50% {
    text-shadow: 0.025em 0.05em 0 #F4BBBB,
      0.05em 0 0 #C3E5AE,
      0 -0.05em 0 #557571;
  }

  100% {
    text-shadow: -0.025em 0 0 #F4BBBB,
      -0.025em -0.025em 0 #C3E5AE,
      -0.025em -0.05em 0 #557571;
  }
}
#loadBar{
    width: 80%;
    height: 50px;
    background-color: #557571;
    position: relative;
    border-radius: 20px;
}

#contLoadBar1{
	height: 100%;
	position: absolute;
	background-image: url(../img/loadwallpaper.PNG);
	background-size:contain;
	border-radius: 20px;
}

/* ############ RIGHT BOX */

#scoreTitle{
    color: #f09999;
    height: 50px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.scores{
    color: #f09999;
    height: 50px;
    font-family: 'Anton', sans-serif;
    display: flex;
}

#scoreTitle{
	color: #f09999;
	height: 50px;
	font-family: 'Anton', sans-serif;
	text-align: center;
}

p{
    margin-left: 10px;
    padding-top: 6px;
    box-sizing: border-box;
}