*{
	margin:0 auto;
	padding:0px;
	box-sizing:border-box;
	outline:none;
}

main{
	width: 90%;
	margin-top:10vh;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-direction: row;
	height: 80vh;
}

.sonLeft{
	position:relative;
	width: 100%;
	height:100%;
	background-color:rgba(255, 1, 1, 0.226);
}

.sonRight{
	width: 30%;
	height: auto;
	/* background-color:#242424; */
	border-radius: 20px;
	padding-left: 10px;
	background-color:rgba(52, 255, 1, 0.226);
}


/* ######### LEFT BOX */

/* LOGIN */

#logIn{
	position:absolute;
	display: flex;
	display:none;
	top:35%;
	left:30%;
	width:40%;
	height:30%;
	flex-direction: column;
	background-color:lavender;
	border-radius: 20px;
	border: 2px solid #242424;
	box-shadow: 10px 5px 5px #242424;
	padding:20px;
}

#title{
	height:40%;
	font-family:'Anton',sans-serif;
	text-align:center;
	font-size:35px;
	color:#242424;
}
	#rememberTitle{
		font-family:'Anton',sans-serif;
		margin-left:3%;
		height:20%;
		font-size:15px;
		font-weight:100;
		margin-top:auto;
		color:#242424;
	}
#username{
	width: 60%;
	margin-left: 3%;
	justify-content: end;
	margin-top: 0px;
	height: 20%;
	border-radius: 20px;
	font-family:'Anton',sans-serif;
	padding-left:10px;
	box-sizing:border-box;
	background-color:#242424;
	color:lavender;
}
	::placeholder{
		font-family: 'Anton', sans-serif;
		color: lavender;
		padding-left: 5px;
		box-sizing: border-box;
	}

#usernameBttn{
    width: 20%;
    margin-left: 40%;
    height: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: 'Anton', sans-serif;
    color: lavender;
    background-color: #242424;
}

/* GAME */

#game{
	background-color:yellow;
	width:100%;
	height:100%;
}


/* ############ RIGHT BOX */

#scoreTitle{
    color: lavender;
    height: 50px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.scores{
    color: lavender;
    height: 50px;
    font-family: 'Anton', sans-serif;
    margin-left: 3%;
    display: flex;
}

p{
    margin-left: 10px;
    padding-top: 6px;
    box-sizing: border-box;
}